doctype
html
	head

		link(rel='stylesheet', type='text/css', href='css/layout.css')
		link(rel='stylesheet', type='text/css', href='css/chart.css')

		script.
			var data = data;

		script(src='js/Chart.min.js')
		script(src='js/charting.js')

	body
		.root
			each student in data.AllRounders
				//-p #{student.firstName} #{student.lastName} | #{student.gender} | #{student.school}

			each item in data.Candidature
				//-p #{item.type} | #{item.male} | #{item.female} | #{item.total}

			each student in data.FirstPlaceInCourse
				//-p #{student.courseNumber} | #{student.longName} | #{student.firstName} | #{student.familyName} | #{student.schoolNumber} | #{student.school}

			each student in data.StudentEntriesBySex
				//-p #{student.courseNumber} | #{student.longName} | #{student.crsValueUnits} | #{student.crsValueHours} | #{student.isBoardDeveloped} | #{student.male} | #{student.female} | #{student.total}

			each student in data.TopAchieversInCourse
				//-p #{student.courseNumber} | #{student.longName} | #{student.firstName} | #{student.familyName} | #{student.place} | #{student.schoolNumber} | #{student.school}


			.flex-col
				.flex-item.no-border
					img(src='images/banners/fairvalehigh.png')
				.flex-item.tit1e
					h1 Welcome to the 2016 Fairvale High Resultify Newsletter!
				.flex-item.desc
					p We would like to congratulate everyone who participated in this year’s High School Certificate (HSC) and wish them all the best in their next adventures.
					p This year, 76,199 students sat the HSC with 105 of them Fairvale High School alumni.
					p It has been a long, tough year and I know how hard both you as student and teacher have work so let’s take a look at your awesome results.
					p The Board Of Studies has broken down the results into 4 categories and we will be able to show this data how it relates to our school and those in the region.

				.flex-item.border

				.flex-item.flex-row.award
					.flex-item
						.award-header
							img(src='images/icons/all-rounders.png')
							h2 All Rounders
						p Jessica Ruby, Linh Thuy, Hayley Adele, Natisha Carmen, Damien John, Eric David
						canvas#myChartBar1.rty-bar
					.flex-item
						.award-header
							img(src='images/icons/top-achievers.png')
							h2 Top Achievers
						p Dominique	Price, Sophia Tonoli, Samantha Hardman, Eric Gittleman
						canvas#myChartBar2.rty-bar
				.flex-item.flex-row.award
					.flex-item
						.award-header
							img(src='images/icons/first-place.png')
							h2 First Place
						p Justin Wu, Dominic Jones, Jacob Saad
						canvas#myChartBar3.rty-bar
					.flex-item
						.award-header
							img(src='images/icons/distinguished.png')
							h2 Distinguished Achievers
						p Elisha Angieputri, Jooeun	Park
						canvas#myChartBar4.rty-bar

				.flex-item.border

				.flex-item
					p.title4 Subject Results
				.flex-item.flex-row.subject
					.flex-item
						p.title3 Mathematics
						canvas#myChart1.rty-pie
					.flex-item
						p.title3 English
						canvas#myChart2.rty-pie
				.flex-item.flex-row.subject
					.flex-item
						p.title3 Chemistry
						canvas#myChart3.rty-pie
					.flex-item
						p.title3 Business Studies
						canvas#myChart4.rty-pie
				.flex-item.flex-row.subject
					.flex-item
						p.title3 Biology
						canvas#myChart5.rty-pie
					.flex-item
						p.title3 Economics
						canvas#myChart6.rty-pie

		script.
			//initCharts(data);
			initCharts({
				a: [1, 4, 6, 2, 5],
				b: [5, 5, 9, 3, 6],
				c: [2, 3, 2, 0, 4],
				d: [3, 2, 5, 1, 1],
				e: [2, 3, 1, 4, 0],
				f: [1, 7, 5, 2, 1],
				g: [1, 6, 7, 2, 1],
				h: [3, 4, 5, 1, 2],
				i: [2, 3, 1, 0, 1],
				j: [6, 4, 12, 2, 3]
			});
